
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="/template2/template.xhtml">


	<!-- 	<ui:define name="title"> -->
	<!-- 		<h:outputText value="#{mess.welcomeTitle}" /> -->
	<!-- 	</ui:define> -->
	<ui:define name="content">
		<h:form id="form" style="margin-top:40px">
			<h:form>
				<p:growl id="growl" showDetail="true" />

				<p:barChart model="#{chartJsView.barModel2}"
					style="width: 100%; height: 500px;">
					<p:ajax event="itemSelect" listener="#{chartJsView.itemSelect}"
						update="growl" />
				</p:barChart>
			</h:form>

		</h:form>
	</ui:define>
</ui:composition>
