
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="/template2/template.xhtml">


	<ui:define name="title">
		<h:outputText value="Table Ornegi" />
	</ui:define>

	<ui:define name="content">
		<h:form id="form" style="margin-top:40px">
			<p:panel id="panelEdit" styleClass="box-info"
				header="#{messages['general.form.edit.header']}"
				style="margin-top:5px">
				<h:messages id="messagesFormEdit" styleClass="message" />
				<p:growl id="growlMessageFormEdit" showDetail="true" />
				<p:panel style="margin-top:5px">

					<h:panelGrid columns="2">
						<p:outputLabel value="Version" />
						<p:inputText value="#{productBean.selected.version}"
							required="false" />
						<p:outputLabel value="productId" />
						<p:inputText value="#{productBean.selected.productId}"
							required="false" />
						<p:outputLabel value="Description" />
						<p:inputText value="#{productBean.selected.description}"
							required="false" />

					</h:panelGrid>

				</p:panel>
				<p:panelGrid id="panelFormEditButtons" columns="5"
					style="margin-top:10px;" styleClass="ui-noborder"
					rendered="#{!currentBean.viewMode}">
					<p:commandButton id="buttonFormEditSave"
						action="#{productBean.save()}"
						value="#{productBean.editMode?messages['general.form.button.update']:messages['general.form.button.add']}"
						update="panelEdit" style="width:130px;" styleClass="btn-primary"
						icon="fa fa-check" />
					<p:commandButton id="buttonFormEditDelete"
						action="#{productBean.delete()}"
						value="#{messages['general.form.button.delete']}" immediate="true"
						update="panelEdit,productTable" rendered="#{productBean.editMode}"
						style="width:100px;" icon="fa fa-trash" styleClass="btn-danger"
						onclick="if(!confirm('#{messages['general.action.delete.confirm']}')){return false;}" />
					<p:commandButton id="buttonFormEditReset" resetValues="true"
						update="panelEdit" actionListener="#{productBean.reset()}"
						value="#{messages['general.form.button.reset']}" immediate="true"
						icon="fa fa-close">
					</p:commandButton>
				</p:panelGrid>

			</p:panel>


			<p:panel styleClass="box-info" id="panelEmd" style="margin-top:10px">

				<p:dataTable id="productTable" var="product" rows="10"
					rowIndexVar="rowIndex" value="#{productBean.products}"
					style="margin-bottom:10px" paginator="true"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}  {Exporters}"
					currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
					rowsPerPageTemplate="5,10,15">
					<p:column style="width:16px">
						<p:rowToggler />
					</p:column>

					<p:column style="width:40px;text-align:center">
						<f:facet name="header">Version</f:facet>
						<h:outputText value="#{product.version}"></h:outputText>
					</p:column>

					<p:column style="width:40px;text-align:center">
						<f:facet name="header">Product</f:facet>
						<h:outputText value="#{product.productId}"></h:outputText>
					</p:column>


					<p:column style="width:40px;text-align:center">
						<f:facet name="header">Description</f:facet>
						<h:outputText value="#{product.description}"></h:outputText>
					</p:column>



					<p:column headerText="#{messages['general.button.Edit']}"
						style="width:35px;">
						<p:commandButton icon="ui-icon ui-icon-wrench" style="height:20px"
							update="form:panelEdit"
							title="#{messages['general.button.Edit']}">
							<f:setPropertyActionListener value="#{product}"
								target="#{productBean.selected}" />
						</p:commandButton>
					</p:column>




				</p:dataTable>




			</p:panel>




		</h:form>

	</ui:define>
</ui:composition>
