<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml">

	<ui:define name="title">
			<h:outputText value="Resources" />
	</ui:define>

	<ui:define name="content">

		<style type="text/css">
.rleftPanel {
	vertical-align: top;
}

.rRightPanel {
	vertical-align: top;
}
</style>

		<h:panelGroup layout="block" id="main">
			<h:form id="resourceListForm">
				<p:dataTable id="modelList" value="#{resourceBean.modelList}"
					var="res" rows="15" paginator="true"
					paginatorPosition="bottom" rowsPerPageTemplate="10,15,20"
					paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {CurrentPageReport}  "
					style="margin-top:5px;width:800px;" rowKey="#{res.id}"
					emptyMessage="#{messages['general.message.EmptyList']}">

					<f:facet name="header">
						<p:outputLabel value="#{messages['resource.label.resourceList']}"></p:outputLabel>
						<h:panelGroup layout="block">
							<p:commandButton action="#{resourceBean.addNewResource}"
								update="newResourcePanel" style="float:right;margin-right:3px;"
								value="#{messages['general.button.New']}"
								icon="fa fa-plus">
							</p:commandButton>
						</h:panelGroup>

						<h:panelGroup layout="block" style="clear: both;">
						</h:panelGroup>
					</f:facet>

					<p:column filterBy="#{res.id}" sortBy="#{res.id}"
						width="10%" headerText="Id">
						<h:outputText value="#{res.id}" />
					</p:column>

					<p:column filterBy="#{res.name}" sortBy="#{res.name}"
						width="20%" headerText="#{messages['resource.label.name']}">
						<h:outputText value="#{res.name}" />
					</p:column>
					<p:column filterBy="#{res.urlPattern}" width="32%"
						sortBy="#{res.urlPattern}"
						headerText="#{messages['resource.label.urlPattern']}">
						<h:outputText value="#{res.urlPattern}" />
					</p:column>
					<p:column filterBy="#{res.description}" width="32%"
						sortBy="#{res.description}"
						headerText="#{messages['general.label.Description']}">
						<h:outputText value="#{res.description}" />
					</p:column>
					<p:column style="width:14px;text-align:center" width="8%"
						headerText="#{messages['general.button.Edit']}">
						<p:commandButton action="#{resourceBean.edit(res)}"
							update="newResourcePanel" icon="fa fa-pencil"
							title="#{messages['general.button.Edit']}" style="height:20px;">
						</p:commandButton>
					</p:column>
					<p:column style="width:14px;text-align:center" width="8%"
						headerText="#{messages['general.button.Delete']}">
						<p:commandButton action="#{resourceBean.delete(res)}"
							update="main" icon="fa fa-trash"
							title="#{messages['general.button.Delete']}" style="height:20px;">
							<p:confirm header="Deletion!" message="Are you sure?"
								icon="fa fa-exclamation" />
						</p:commandButton>
					</p:column>

				</p:dataTable>
			</h:form>


			<h:panelGroup layout="block" id="newResourcePanel">

				<p:dialog header="#{messages['resource.label.new']}"
					widgetVar="newResourceWidget" minHeight="40"
					rendered="#{resourceBean.resourceDialogRendered}"
					visible="#{resourceBean.resourceDialogRendered}" closable="false">

					<h:form id="newResourceForm">

						<h:panelGrid columns="2" cellpadding="5"
							columnClasses="leftColumn33,rightColumn66">

							<h:outputText styleClass="nobr"
								value="#{messages['resource.label.name']} :" />
							<h:panelGrid columns="2">
								<p:inputText value="#{resourceBean.newResource.name}"
									label="#{messages['resource.label.name']}" required="true"
									style="width:200px;" />
								<h:outputText styleClass="noteText" value="*" />
							</h:panelGrid>
							
							<h:outputText styleClass="nobr"
								value="#{messages['resource.label.urlPattern']} :" />
						
							<p:inputTextarea id="resUrl" rows="3"
									value="#{resourceBean.newResource.urlPattern}" style="width:200px;"/>
												
							<h:outputText styleClass="nobr"
								value="#{messages['general.label.Description']} :" />
							<h:panelGrid columns="2">

								<p:inputTextarea id="description" rows="3"
									value="#{resourceBean.newResource.description}" style="width:200px;"
									required="true" />
								<h:outputText styleClass="noteText" value="*" />
							</h:panelGrid>

							<h:outputText />
							<h:outputText styleClass="noteText"
								value="* #{messages['general.label.required']}" />

						</h:panelGrid>

						<h:panelGroup layout="block">

							<p:commandButton
								style="width:100px;float:right;margin-right:5px;margin-top:20px;"
								icon="fa fa-close"
								value="#{messages['general.button.Cancel']}"
								update="newResourcePanel" action="#{resourceBean.cancel()}"
								process="@this" />


							<p:commandButton
								style="width:100px;float:right;margin-right:5px;margin-top:20px;"
								icon="fa fa-save" update="main"
								value="#{messages['general.button.Save']}"
								action="#{resourceBean.saveNewResource()}" />


						</h:panelGroup>

					</h:form>

				</p:dialog>

			</h:panelGroup>

		</h:panelGroup>

	</ui:define>

</ui:composition>