<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml">

	<ui:define name="title">
		<h:outputText value="Roles" />
	</ui:define>

	<ui:define name="content">

		<style type="text/css">
.rleftPanel {
	vertical-align: top;
}

.rRightPanel {
	vertical-align: top;
}
</style>


		<h:panelGroup layout="block" id="main">

			<h:panelGrid columns="2" columnClasses="rleftPanel,rRightPanel">

				<h:panelGroup layout="block">

					<h:form id="roleListForm">

						<p:dataTable id="modelList" value="#{roleBean.modelList}"
							var="role" rows="10" paginator="true" paginatorPosition="bottom"
							rowsPerPageTemplate="10,20,30"
							paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {CurrentPageReport}  "
							style="margin-top:5px;width:600px;" rowKey="#{role.id}"
							selectionMode="single" selection="#{roleBean.selectedModel}"
							emptyMessage="#{messages['general.message.EmptyList']}">

							<f:facet name="header">
								<p:outputLabel value="#{messages['role.label.roleList']}"></p:outputLabel>
								<h:panelGroup layout="block">
									<p:commandButton action="#{roleBean.addNewRole}"
										update="newRolePanel" style="float:right;margin-right:3px;"
										value="#{messages['general.button.New']}"
										icon="fa fa-plus">
									</p:commandButton>
								</h:panelGroup>

								<h:panelGroup layout="block" style="clear: both;">
								</h:panelGroup>
							</f:facet>

							<p:ajax event="rowSelect" listener="#{roleBean.roleRowSelected}"
								process="@this" update="relatedParties,resourcesBlock" />
							<p:column filterBy="#{role.id}" sortBy="#{role.id}" width="7%"
								headerText="Id">
								<h:outputText value="#{role.id}" />
							</p:column>

							<p:column filterBy="#{role.name}" sortBy="#{role.name}"
								width="30%" headerText="#{messages['role.label.name']}">
								<h:outputText value="#{role.name}" />
							</p:column>
							<p:column filterBy="#{role.description}" width="48%"
								sortBy="#{role.description}"
								headerText="#{messages['general.label.Description']}">
								<h:outputText value="#{role.description}" />
							</p:column>
							<p:column style="width:14px;text-align:center" width="8%"
								headerText="#{messages['general.button.Edit']}">
								<p:commandButton action="#{roleBean.edit(role)}"
									update="newRolePanel" icon="fa fa-pencil"
									title="#{messages['general.button.Edit']}" style="height:20px;">
								</p:commandButton>
							</p:column>
							<p:column style="width:14px;text-align:center" width="9%"
								headerText="#{messages['general.button.Delete']}">
								<p:commandButton action="#{roleBean.delete(role)}" update="main"
									icon="fa fa-trash"
									title="#{messages['general.button.Delete']}"
									style="height:20px;">
									<p:confirm header="#{messages['general.message.warning']}" message="#{messages['general.message.confirm.Delete']}"
										icon="fa fa-exclamation" />
								</p:commandButton>
							</p:column>

						</p:dataTable>
					</h:form>
				</h:panelGroup>

				<h:panelGroup layout="block" id="resourcesBlock">

					<h:panelGroup layout="block"
						rendered="#{roleBean.selectedModel !=null}">



						<h:form id="resourceListForm">

							<p:dataTable id="modelList" value="#{roleBean.roleResources}"
								var="res" rows="10" paginator="true" paginatorPosition="bottom"
								rowsPerPageTemplate="10,20,30"
								paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {CurrentPageReport}  "
								style="margin-top:5px;width:800px;" rowKey="#{res.id}"
								emptyMessage="#{messages['general.message.EmptyList']}">

								<f:facet name="header">
									<p:outputLabel
										value="#{messages['resource.label.resourceList']}"></p:outputLabel>
									<h:panelGroup layout="block">
										<p:commandButton action="#{roleBean.addNewResource}"
											update="resourceSelectionPanel"
											style="float:right;margin-right:3px;"
											value="#{messages['general.button.New']}"
											icon="fa fa-plus">
										</p:commandButton>
									</h:panelGroup>

									<h:panelGroup layout="block" style="clear: both;">
									</h:panelGroup>
								</f:facet>

								<p:column filterBy="#{res.resource.id}"
									sortBy="#{res.resource.id}" width="6%" headerText="R.Id">
									<h:outputText value="#{res.resource.id}" />
								</p:column>

								<p:column filterBy="#{res.resource.name}"
									sortBy="#{res.resource.name}" width="20%"
									headerText="#{messages['resource.label.name']}">
									<h:outputText value="#{res.resource.name}" />
								</p:column>
								<p:column filterBy="#{res.resource.urlPattern}" width="27%"
									sortBy="#{res.resource.urlPattern}"
									headerText="#{messages['resource.label.urlPattern']}">
									<h:outputText value="#{res.resource.urlPattern}" />
								</p:column>
								<p:column filterBy="#{res.resource.description}" width="30%"
									sortBy="#{res.resource.description}"
									headerText="#{messages['general.label.Description']}">
									<h:outputText value="#{res.resource.description}" />
								</p:column>
								<p:column filterBy="#{res.status}" width="10%"
									sortBy="#{res.status}"
									headerText="#{messages['resource.label.status']}">
									<h:outputText value="#{res.status}" />
								</p:column>

								<p:column style="width:14px;text-align:center" width="7%"
									headerText="#{messages['general.button.Delete']}">
									<p:commandButton action="#{roleBean.deleteResource(res)}"
										update="main" icon="fa fa-trash"
										title="#{messages['general.button.Delete']}"
										style="height:20px;">
										<p:confirm header="Deletion!" message="Are you sure?"
											icon="fa fa fa-exclamation" />
									</p:commandButton>
								</p:column>

							</p:dataTable>
						</h:form>

					</h:panelGroup>

				</h:panelGroup>

			</h:panelGrid>

			<h:panelGroup layout="block" id="relatedParties">

				<h:panelGrid columns="2" columnClasses="rleftPanel,rRightPanel"
					rendered="#{roleBean.selectedModel !=null}">

				
					<h:panelGroup layout="block">

						<h:form id="userListForm">

							<p:dataTable id="userList" value="#{roleBean.userRoles}"
								var="user" rows="10" paginator="true" paginatorPosition="bottom"
								rowsPerPageTemplate="10,20,30"
								paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {CurrentPageReport}  "
								style="margin:5px;width:800px;" rowKey="#{user.id}"
								emptyMessage="#{messages['general.message.EmptyList']}">

								<f:facet name="header">
									<p:outputLabel value="#{messages['role.label.userList']}"></p:outputLabel>
									<h:panelGroup layout="block">
										<p:commandButton action="#{roleBean.addNewUser}"
											update="userSelectionPanel"
											style="float:right;margin-right:3px;"
											value="#{messages['general.button.New']}"
											icon="fa fa-plus">
										</p:commandButton>
									</h:panelGroup>

									<h:panelGroup layout="block" style="clear: both;">
									</h:panelGroup>
								</f:facet>

								<p:column filterBy="#{user.enduser.id}"
									sortBy="#{user.enduser.id}" width="15%"
									headerText="#{messages['enduser.label.userIdShort']}">
									<h:outputText value="#{user.enduser.id}" />
								</p:column>

								<p:column filterBy="#{user.enduser.nameSurname}"
									sortBy="#{user.enduser.nameSurname}" width="25%"
									headerText="#{messages['general.label.Name']}">
									<h:outputText value="#{user.enduser.nameSurname}" />
								</p:column>
								
								

<!-- 								<p:column filterBy="#{user.enduser.positionStext}" -->
<!-- 									sortBy="#{user.enduser.positionStext}" width="20%" -->
<!-- 									headerText="#{messages['enduser.label.title']}"> -->
<!-- 									<h:outputText value="#{user.enduser.positionStext}" /> -->
<!-- 								</p:column> -->

<!-- 								<p:column filterBy="#{user.enduser.organization.stext}" -->
<!-- 									sortBy="#{user.enduser.organization.stext}" width="30%" -->
<!-- 									headerText="#{messages['enduser.label.organization']}"> -->
<!-- 									<h:outputText value="#{user.enduser.organization.stext}" /> -->
<!-- 								</p:column> -->

								<p:column style="width:14px;text-align:center" width="10%"
									headerText="#{messages['general.button.Delete']}">
									<p:commandButton action="#{roleBean.deleteUser(user)}"
										update="userListForm" icon="fa fa-trash"
										title="#{messages['general.button.Delete']}"
										style="height:20px;">
										<p:confirm header="Deletion!" message="Are you sure?"
											icon="fa fa fa-exclamation" />
									</p:commandButton>
								</p:column>

							</p:dataTable>
						</h:form>


					</h:panelGroup>

				</h:panelGrid>
			</h:panelGroup>

			<h:panelGroup layout="block" id="newRolePanel">

				<p:dialog header="#{messages['role.label.new']}"
					widgetVar="newRoleWidget" minHeight="40"
					rendered="#{roleBean.roleDialogRendered}"
					visible="#{roleBean.roleDialogRendered}" closable="false">

					<h:form id="newRoleForm">

						<h:panelGrid columns="2" cellpadding="5"
							columnClasses="leftColumn33,rightColumn66">

							<h:outputText styleClass="nobr"
								value="#{messages['role.label.name']} :" />
							<h:panelGrid columns="2">
								<p:inputText value="#{roleBean.newRole.name}"
									label="#{messages['role.label.name']}" required="true"
									style="width:200px;" />
								<h:outputText styleClass="noteText" value="*" />
							</h:panelGrid>

							<h:outputText styleClass="nobr"
								value="#{messages['general.label.Description']} :" />
							<h:panelGrid columns="2">

								<p:inputTextarea id="description" rows="3"
									value="#{roleBean.newRole.description}" style="width:200px;"
									required="true" />
								<h:outputText styleClass="noteText" value="*" />
							</h:panelGrid>


							<h:outputText />
							<h:outputText styleClass="noteText"
								value="* #{messages['general.label.required']}" />

						</h:panelGrid>

						<h:panelGroup layout="block">

							<p:commandButton
								style="width:100px;float:right;margin-right:5px;margin-top:20px;"
								icon="fa fa-close"
								value="#{messages['general.button.Cancel']}"
								update="newRolePanel" action="#{roleBean.cancel()}"
								process="@this" />


							<p:commandButton
								style="width:100px;float:right;margin-right:5px;margin-top:20px;"
								icon="fa fa-save" update="main"
								value="#{messages['general.button.Save']}"
								action="#{roleBean.saveNewRole()}" />


						</h:panelGroup>

					</h:form>

				</p:dialog>

			</h:panelGroup>

			<h:panelGroup layout="block" id="userSelectionPanel">

				<p:dialog header="#{messages['user.label.new']}"
					widgetVar="newUserWidget" minHeight="40"
					rendered="#{roleBean.userDialogRendered}"
					visible="#{roleBean.userDialogRendered}" closable="false">

					<h:form id="newUserForm">

						<h:panelGrid columns="2" cellpadding="5"
							columnClasses="leftColumn33,rightColumn66">
							
							<h:outputText styleClass="nobr"
								value="#{messages['enduser.label.userIdShort']} :" />
							<h:panelGrid columns="2">
								<p:inputText value="#{roleBean.newUser.id}"
									label="#{messages['enduser.label.userIdShort']}" required="true"
									style="width:200px;" />
								<h:outputText styleClass="noteText" value="*" />
							</h:panelGrid>
							

							<h:outputText styleClass="nobr"
								value="Username:" />
							<h:panelGrid columns="2">
								<p:inputText value="#{roleBean.newUser.userName}"
									label="#{messages['general.label.Name']}" required="true"
									style="width:200px;" />
								<h:outputText styleClass="noteText" value="*" />
							</h:panelGrid>
							
							
								<h:outputText styleClass="nobr"
								value="Firstname:" />
							<h:panelGrid columns="2">

								<p:inputTextarea id="firstName" rows="3"
									value="#{roleBean.newUser.firstName}" style="width:200px;"
									required="true" />
								<h:outputText styleClass="noteText" value="*" />
							</h:panelGrid>

							<h:outputText styleClass="nobr"
								value="Surname:" />
							<h:panelGrid columns="2">

								<p:inputTextarea id="surName" rows="3"
									value="#{roleBean.newUser.lastName}" style="width:200px;"
									required="true" />
								<h:outputText styleClass="noteText" value="*" />
							</h:panelGrid>
							
							<h:outputText styleClass="nobr"
								value="Email:" />
							<h:panelGrid columns="2">

								<p:inputTextarea id="userEmail" rows="3"
									value="#{roleBean.newUser.email}" style="width:200px;"
									required="true" />
								<h:outputText styleClass="noteText" value="*" />
							</h:panelGrid>


							<h:outputText />
							<h:outputText styleClass="noteText"
								value="* #{messages['general.label.required']}" />

						</h:panelGrid>
				
						<h:panelGroup layout="block">
							<p:commandButton
								style="width:100px;float:right;margin-right:5px;margin-top:20px;"
								icon="fa fa-close"
								value="#{messages['general.button.Cancel']}"
								update="userSelectionPanel"
								action="#{roleBean.cancelNewUsers()}" process="@this"/>
							<p:commandButton
								style="width:100px;float:right;margin-right:5px;margin-top:20px;"
								icon="fa fa-close"
								value="#{messages['general.button.Save']}"
								update="userSelectionPanel"
								action="#{roleBean.saveNewUsers()}" />
						</h:panelGroup>

					</h:form>

				</p:dialog>

			</h:panelGroup>
			
			
			


		<h:panelGroup layout="block" id="resourceSelectionPanel">

				<p:dialog header="#{messages['role.label.resourceList']}"
					widgetVar="resSelectionlWidget" minHeight="200" minWidth="200"
					rendered="#{roleBean.resourceDialogRendered}"
					visible="#{roleBean.resourceDialogRendered}" closable="false">

					<h:form id="resSelectionForm">

						<h:panelGrid columns="2">
							<p:outputLabel value="#{messages['resource.label.status']}"
								for="resourceStatus"></p:outputLabel>
							<p:selectOneMenu value="#{roleBean.resourceStatus}"
								label="#{messages['resource.label.status']}"
								style="width:150px;" id="resourceStatus" required="true">
								<f:selectItem itemValue="Given" itemLabel="Given" />
								<f:selectItem itemValue="Revoked" itemLabel="Revoked" />
							</p:selectOneMenu>
						</h:panelGrid>

						<h:panelGroup layout="block" style="margin-top:3px;">
							<ui:include src="/pages/system/resourceSelection.xhtml">
								<ui:param name="id" value="" />
								<ui:param name="bean" value="#{roleBean.resourceSelectionBean}" />
							</ui:include>
						</h:panelGroup>

						<h:panelGroup layout="block">
							<p:commandButton
								style="width:100px;float:right;margin-right:5px;margin-top:20px;"
								icon="fa fa-close"
								value="#{messages['general.button.Cancel']}"
								update="resourceSelectionPanel"
								action="#{roleBean.cancelNewResources()}" process="@this" />


							<p:commandButton
								style="width:100px;float:right;margin-right:5px;margin-top:20px;"
								update="main" icon="fa fa-check-circle"
								value="#{messages['general.button.Select']}"
								action="#{roleBean.saveNewResources}" />
						</h:panelGroup>

					</h:form>

				</p:dialog>


			</h:panelGroup>

		</h:panelGroup>

	</ui:define>

</ui:composition>