<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml">

	<ui:define name="title">
		<h:outputText value="Troya Environment" />
	</ui:define>

	<ui:define name="content">


		<h:form style="background-color:#1f1919;">
			<div class="ui-g">
				<div class="ui-g-3">
					<p:outputLabel style="background:black; color:#24DC2A; font-size:12pt; height:60vh;" styleClass="boldLabel" value="Selected Troya Enviorement:" />
				</div>
				<div class="ui-g-2">
					<p:selectOneMenu value="#{troyaEnvironmentBean.selectedEnvironment}" valueChangeListener="#{troyaEnvironmentBean.changeEventEnvironment}">
						<p:ajax />
						<f:selectItem itemLabel="Select Env Type" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{troyaEnvironmentBean.environmentList}" />
					</p:selectOneMenu>

				</div>
				<div class="ui-g-7">
					<p:spacer></p:spacer>
				</div>
			</div>

			<p:commandButton icon="fa fa-plug" value="Connect Troya Environment" process="@this" action="#{troyaEnvironmentBean.connect}" oncomplete="completed()" style="width:100%">
				<p:confirm header="#{messages['general.message.warning']}" message="#{messages['general.message.troya.environment.change.confirmation']}" icon="fa fa-exclamation" />
			</p:commandButton>


			<p></p>

			<p:commandButton icon="fa-refresh" value="Refresh All" style="width:100%">
				<f:actionListener binding="#{emdValidationView.onLoad()}" />
				<f:actionListener binding="#{emdValidationHistoryBean.onLoad()}" />
			</p:commandButton>



			<p:remoteCommand name="completed" update="txtAreaTroya" />

			<p:panel id="display">
				<p:inputTextarea id="txtAreaTroya" cols="150" rows="29" autoResize="false" value="#{troyaEnvironmentBean.troyaResponse}" readonly="true" style="width:100%;background:black; color:#24DC2A; font-size:12pt; height:60vh;" />
			</p:panel>


		</h:form>
	</ui:define>
</ui:composition>
