<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

	<style type="text/css">
	</style>

	<h:form id="menuform">
		<input type="hidden" name="menuform" value="menuform" />

		<ul id="menuform:j_idt15" class="layout-menu">
			<li id="menuform:home" role="menuitem">
				<a href="#{request.contextPath}/index.html">
					<i class="fa fa-home fa-fw"></i>
					<span>Home</span>
				</a>
			</li>
			
		
			
			<li id="menuform:bup" role="menuitem">
				<a href="#">
					<i class="fa fa-bold fa-fw"></i>
					<span>Tables</span>
					<i class="fa fa-fw layout-submenu-toggler fa-angle-down"></i>
				</a>
					<ul role="menu">
						<li role="menuitem">
							<a href="#{request.contextPath}/pages/tables/emdValidations.xhtml">
								<i class="fa fa-globe fa-fw"></i>
								<span>Emd Validation</span>
							</a>
						</li>
					</ul>
					
					<ul role="menu">
						<li role="menuitem">
							<a href="#{request.contextPath}/pages/tables/cityPairAllowance.xhtml">
								<i class="fa fa-globe fa-fw"></i>
								<span>City Pair Allowance</span>
							</a>
						</li>
					</ul>
					
			</li>
			

          <!-- LOG -->
			<li id="menuform:bup" role="menuitem">
				<a href="#">
					<i class="fa fa-bold fa-fw"></i>
					<span>Tables Log</span>
					<i class="fa fa-fw layout-submenu-toggler fa-angle-down"></i>
				</a>
					<ul role="menu">
						<li role="menuitem">
							<a href="#{request.contextPath}/pages/tables/emdValidationHistory.xhtml">
								<i class="fa fa-globe fa-fw"></i>
								<span>Emd Validation</span>
							</a>
						</li>
					</ul>
					
					
			</li>   


			<!-- SYSTEM -->
			<ui:fragment rendered="true">
				<li id="menuform:sytemMenu" role="menuitem">
					<a href="#">
						<i class="fa fa-wrench fa-fw"></i>
						<span>System</span>
						<i class="fa fa-fw layout-submenu-toggler fa-angle-down"></i>
					</a>
					
					<ul role="menu">
						<li role="menuitem">
							<a href="#{request.contextPath}/pages/system/role.xhtml">
								<i class="fa fa-unlock-alt fa-fw"></i>
								<span>Assign Role</span>
							</a>
						</li>
			
					</ul>
					
						<ul role="menu">
						<li role="menuitem">
							<a href="#{request.contextPath}/pages/system/resource.xhtml">
								<i class="fa fa-unlock-alt fa-fw"></i>
								<span>Resource</span>
							</a>
						</li>
			
					</ul>
					
					<ul role="menu">
						<li role="menuitem">
							<a href="#{request.contextPath}/pages/system/troyaEnvironment.xhtml">
								<i class="fa fa-unlock-alt fa-fw"></i>
								<span>Troya Environment</span>
							</a>
						</li>
			
					</ul>
					
				</li>
			</ui:fragment>
		</ul>

		<script type="text/javascript">
								PrimeFaces.cw("Manhattan",
										"widget_menuform1", {
											id : "menuform:lMenu",
											defaultExtendedItems:"menuform:fareRule,menuform:distRule,menuform:sytemMenu,menuform:diagnostic"
										});
		</script>
		
	</h:form>
</ui:component>