<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">
<f:view>
	<ui:define name="content">
	<h:head id="templateHead">
		<f:facet name="first">
			<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10" />
		</f:facet>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
		<ui:param name="paramTitle" value="Offer Management System"></ui:param>
		<title><ui:insert name="title">#{paramTitle}</ui:insert></title>

		<h:outputScript library="primefaces-oms" name="js/layout.js" />
		<h:outputScript library="primefaces-oms" name="charts/charts.js" />
		
		<h:outputStylesheet library="primefaces-oms" name="charts/charts.css"/>
		<h:outputStylesheet library="primefaces-oms" name="schedule/schedule.css" />
		<h:outputScript library="primefaces-oms" name="moment/moment.js" />
		<h:outputScript library="primefaces-oms" name="schedule/schedule.js" />
		<h:outputStylesheet library="primefaces-oms" name="css/nanoscroller.css" />
		<h:outputScript library="primefaces-oms" name="js/nanoscroller.js" />
		<h:outputStylesheet library="primefaces-oms" name="css/layout-blue.css" />
		<h:outputScript library="primefaces-oms" name="js/ripple.js" />
		<h:outputStylesheet library="primefaces-oms" name="css/ripple.css" />



		<!-- CSS -->
		<!-- Bootstrap 4.1.0 -->
		<!-- <link rel="stylesheet" href="../resources/bootstrap/css/bootstrap.min.css"/> -->

		<!-- SCRIPT -->
		<!-- jQuery 2.2.3 -->
		<!-- <script src="../resources/js/jquery/jquery-3.3.1.min.js"/> -->
		<!-- Bootstrap 4.1.0 -->
		<!-- <script src="../resources/bootstrap/js/bootstrap.min.js"/> -->

	</h:head>
	<h:body>

		<script type="text/javascript">
			//<![CDATA[
			function skinBar() {
				this.cfg.shadow = false;
				this.cfg.title = '';
				this.cfg.seriesColors = [ '#3984b8', '#7e8dcd' ];
				this.cfg.grid = {
					background : '#ffffff',
					borderColor : '#ffffff',
					gridLineColor : '#dee4e9',
					shadow : false
				};
				this.cfg.axesDefaults = {
					borderWidth : 0.1,
					borderColor : 'dce2e7',
					rendererOptions : {
						textColor : '#757575'
					}
				};
				this.cfg.seriesDefaults = {
					shadow : false,
					lineWidth : 1,
					renderer : $.jqplot.BarRenderer,
					markerOptions : {
						shadow : false,
						size : 7,
						style : 'circle'
					}
				}
			}
			//]]>
		</script>

		<style type="text/css">
.main-content {
	padding: 0;
}
.layout-content {
 	font-size:12px;
}
.ajax-loader {
	font-size: 40px;
}

.iLabel {
	font-weight: bold;
	padding-right: 3px;
	white-space: pre;
}

.alingTopLeft {
	vertical-align: top;
	text-align: left;
}

.hLine .ui-panel-titlebar {
	height: 6px !important;
	padding: 0 !important;
	margin: 0 !important;
}

.hLine {
	padding: 0 !important;
}

.ui-inputswitch {
	height:22px !important;
	margin-top: 3px;
}
.ui-selectcheckboxmenu-multiple .ui-selectcheckboxmenu-trigger .ui-icon {
    margin-top: 5px !important;
	top: 0 !important;
	
}
body .ui-fluid .ui-trigger-calendar .ui-datepicker-trigger.ui-button {
	height: auto !important;
}

.infoPanel {
	width: 200px;
}
</style>

		<p:growl id="growl" showDetail="false" life="6000">
			<p:autoUpdate />
		</p:growl>

		<p:ajaxStatus onstart="$('.statusStartDiv').show(); $('statusCompleteDiv').hide();"
			oncomplete="$('.statusStartDiv').hide(); $('statusCompleteDiv').show();" onerror="PF('cd').show();$('.statusStartDiv').hide();"
			onsuccess="$('.statusStartDiv').hide(); $('statusCompleteDiv').show();">
		</p:ajaxStatus>


		<p:confirmDialog message="#{messages['menu.warn.expire']}" header="#{messages['dialog.timeout.header']}" severity="alert" widgetVar="cd"
			style="max-width:400px">

			<p:button value="#{messages['general.value.Yes']}" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check"
				style="float:right;margin-right:5px;" onclick="PF('cd').hide(); parent.location.reload(); return;" />

			<p:button value="#{messages['general.value.No']}" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"
				style="float:right;margin-right:5px;" onclick="PF('cd').hide();return;" />

		</p:confirmDialog>


		<p:confirmDialog global="true">

			<p:commandButton value="yes" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"
				style="float:right;margin-right:5px;" />
			<p:commandButton value="no" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"
				style="float:right;margin-right:5px;" />

		</p:confirmDialog>



		<div style="width: 64px; height: 64px; position: fixed; right: 5px; bottom: 5px">
			<div class="statusStartDiv" style="display: none">
				<i class="fa fa-circle-o-notch fa-spin ajax-loader" aria-hidden="true"></i>
			</div>
			<div class="statusCompleteDiv"></div>
		</div>

		<!-- 			<p:idleMonitor timeout="300000">
				<p:ajax event="idle" listener="#{utilBean.onIdle}" update="messages" />
			</p:idleMonitor> -->


		<div class="layout-wrapper">
			
			<div class="layout-main">
			
				<div class="layout-content">

					<ui:insert name="content"></ui:insert>

				</div>
				
			</div>

		</div>

		<ui:include src="cleanViewState.xhtml" />
	</h:body>
</ui:define>
</f:view>
</html>
