<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsf/composite">

	<c:interface>
   	</c:interface>
	
	<c:implementation>
		<p:outputPanel style="word-wrap: break-word; max-width: 300px; height:30px; overflow:auto;">
			<c:insertChildren />
		</p:outputPanel>
	</c:implementation>
</html>

