<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	
	
	<h:panelGroup layout="block" id="#{id}userSelection" style="width:600px;" rendered="#{bean.rendered}">
	
		<p:dataTable id="#{id}userList" value="#{bean.usersList}" var="enduser" 
				rows="5"
				paginator="true"
				selection="#{bean.selectedUsers}"
				filteredValue="#{bean.filteredUsers}"
				emptyMessage="#{messages['general.message.EmptyList']}"
				rowKey="#{enduser.id}"
				rowsPerPageTemplate="5,10,15,20" 
				paginatorPosition="bottom"
				paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {CurrentPageReport}  ">
				
				<p:ajax event="toggleSelect" disabled="#{not bean.multiple or bean.readOnly}"
								listener="#{bean.userRowsSelected}" process="@this"
								update="#{update}"
								immediate="true" />


				<p:ajax event="rowSelect"
								listener="#{bean.userRowSelected}" process="#{id}userList" disabled="#{bean.multiple or bean.readOnly}"
								update="#{update}" immediate="true" />

				<p:column selectionMode="multiple" rendered="#{bean.multiple}"
								style="width:10px;text-align:center" />

				<p:column filterBy="#{enduser.id}" rendered="#{showUserId}"
							sortBy="#{enduser.id}"
							headerText="#{messages['enduser.label.userId']}">
						<h:outputText value="#{enduser.id}" />
					</p:column>
					
				<p:column filterBy="#{enduser.userName}" rendered="#{showUserName}" filterMatchMode="contains"
							sortBy="#{enduser.userName}"
							headerText="#{messages['enduser.label.userName']}">
						<h:outputText value="#{enduser.userName}" />
					</p:column>
				<p:column filterBy="#{enduser.displayName}"  rendered="#{showDisplayname}" filterMatchMode="contains"
						sortBy="#{enduser.displayName}"
						headerText="#{messages['enduser.label.displayName']}">
						<h:outputText value="#{enduser.nameSurname}" />
				</p:column>

			</p:dataTable>
	
	</h:panelGroup>

</ui:component>