<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">


	<h:panelGroup layout="block" id="#{id}resourceSelection">

		<p:dataTable id="modelList" value="#{bean.resourceList}" var="res"
			rows="10" paginator="true" paginatorPosition="bottom"
			selection="#{bean.selectedResources}" rowsPerPageTemplate="10,20,30"
			paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {CurrentPageReport}  "
			style="margin-top:5px;width:800px;" rowKey="#{res.id}"
			emptyMessage="#{messages['general.message.EmptyList']}">

			<f:facet name="header">
				<p:outputLabel value="#{messages['resource.label.resourceList']}"></p:outputLabel>
			</f:facet>

			<p:ajax event="toggleSelect" listener="#{bean.rowsSelected}"
				process="@this" immediate="true" />

			<p:column selectionMode="multiple"
				style="width:10%;text-align:center" />

			<p:column filterBy="#{res.id}" sortBy="#{res.id}" width="10%"
				headerText="Id">
				<h:outputText value="#{res.id}" />
			</p:column>

			<p:column filterBy="#{res.name}" sortBy="#{res.name}" width="20%"
				headerText="#{messages['resource.label.name']}">
				<h:outputText value="#{res.name}" />
			</p:column>
			<p:column filterBy="#{res.urlPattern}" width="30%" sortBy="#{res.urlPattern}"
				headerText="#{messages['resource.label.urlPattern']}">
				<h:outputText value="#{res.urlPattern}" />
			</p:column>
			<p:column filterBy="#{res.description}" width="30%"
				sortBy="#{res.description}"
				headerText="#{messages['general.label.Description']}">
				<h:outputText value="#{res.description}" />
			</p:column>

		</p:dataTable>

	</h:panelGroup>
</ui:component>