
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="/template2/template.xhtml">


<!-- 	<ui:define name="title"> -->
<!-- 		<h:outputText value="#{mess.welcomeTitle}" /> -->
<!-- 	</ui:define> -->
	<ui:define name="content">
<h:form id="form" style="margin-top:40px">
			<p:panel id="panelEdit" styleClass="box-info"
				header="#{messages['general.form.edit.header']}"
				style="margin-top:5px">
				<h:messages id="messagesFormEdit" styleClass="message" />
				<p:growl id="growlMessageFormEdit" showDetail="true" />
				<p:panel style="margin-top:5px">
					<div class="ui-fluid">
						<div class="ui-g">
							<div class="ui-g-12 ui-md-2 ui-lg-1">
								<div class="ui-g-5">
									<p:outputLabel styleClass="boldLabel" value="A.L" />
								</div>
								<div class="ui-g-7">
									<p:inputText label="RFIC" style="text-transform: uppercase"
										value="#{productBean.selected.version}" />
								</div>
							</div>
						</div>
					</div>
				</p:panel>

				<p:panelGrid id="panelFormEditButtons" columns="5"
					style="margin-top:10px;" styleClass="ui-noborder"
					rendered="#{!currentBean.viewMode}">
					<p:commandButton id="buttonFormEditSave"
						action="#{productBean.save()}"
						value="#{productBean.editMode?messages['general.form.button.update']:messages['general.form.button.add']}"
						update="panelEdit" style="width:130px;"
						styleClass="btn-primary" icon="fa fa-check"
						oncomplete="PF('validationWidget').filter();" />
					<p:commandButton id="buttonFormEditDelete"
						action="#{productBean.delete()}"
						value="#{messages['general.form.button.delete']}" immediate="true"
						update="panelEdit,validationTable"
						rendered="#{productBean.editMode}" style="width:100px;"
						icon="fa fa-trash" styleClass="btn-danger"
						onclick="if(!confirm('#{messages['general.action.delete.confirm']}')){return false;}"
						oncomplete="PF('validationWidget').filter();" />
					<p:commandButton id="buttonFormEditReset" resetValues="true"
						update="panelEdit" actionListener="#{productBean.reset()}"
						value="#{messages['general.form.button.reset']}" immediate="true"
						icon="fa fa-close">
					</p:commandButton>
				</p:panelGrid>

			</p:panel>

		</h:form>
	</ui:define>
</ui:composition>
