<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<style type="text/css">
</style>

	<form id="menuform" name="menuform" method="post"
		action="/avalon/dashboard.xhtml"
		enctype="application/x-www-form-urlencoded">
		<input type="hidden" name="menuform" value="menuform" />
					<div class="profile">
						<a id="profile-options" href="#"><img id="menuform:j_idt34"
							src="images/avatar.png?ln=avalon-layout" alt=""
							class="profile-image" style="border: 0 none" /> <span
							class="profile-name">Yasin Çakmak</span> <i
							class="fa fa-fw fa-caret-down"></i> <span class="profile-role">Marketing</span>
						</a>
					</div>

					<ul id="profile-menu" class="layout-menu">
						<li role="menuitem"><a href="#"> <i
								class="fa fa-fw fa-user"></i> <span>Profile</span>
						</a>
							<div class="layout-menu-tooltip">
								<div class="layout-menu-tooltip-arrow"></div>
								<div class="layout-menu-tooltip-text">Profile</div>
							</div></li>
						<li role="menuitem"><a href="#"> <i
								class="fa fa-fw fa-user-secret"></i> <span>Privacy</span>
						</a>
							<div class="layout-menu-tooltip">
								<div class="layout-menu-tooltip-arrow"></div>
								<div class="layout-menu-tooltip-text">Privacy</div>
							</div></li>
						<li role="menuitem"><a href="#"> <i
								class="fa fa-fw fa-cog"></i> <span>Settings</span>
						</a>
							<div class="layout-menu-tooltip">
								<div class="layout-menu-tooltip-arrow"></div>
								<div class="layout-menu-tooltip-text">Settings</div>
							</div></li>
						<li role="menuitem"><a href="#"> <i
								class="fa fa-fw fa-sign-out"></i> <span>Logout</span>
						</a>
							<div class="layout-menu-tooltip">
								<div class="layout-menu-tooltip-arrow"></div>
								<div class="layout-menu-tooltip-text">Logout</div>
							</div></li>
					</ul>
					<ul id="menuform:j_idt36" class="layout-menu clearfix">
						<li id="menuform:om_dashboards" role="menuitem"><a href="#"
							class="ripplelink"><i class="fa fa-fw fa-dashboard"></i><span>Dashboards</span><span
								class="ink animate"></span><i
								class="fa fa-fw fa-angle-down menuitem-toggle-icon"></i></a>
							<div class="layout-menu-tooltip">
								<div class="layout-menu-tooltip-arrow"></div>
								<div class="layout-menu-tooltip-text">Dashboards</div>
							</div>
							<ul role="menu">
								<li id="menuform:om_dashboard" role="menuitem"><a
									href="#{request.contextPath}/ui/productTable.xhtml"><i class="fa fa-fw fa-home"></i><span>Products</span></a>
									<div class="layout-menu-tooltip">
										<div class="layout-menu-tooltip-arrow"></div>
										<div class="layout-menu-tooltip-text">Product Table</div>
									</div></li>
								<li id="menuform:om_dashboard_banking" role="menuitem"><a
									href="/avalon/dashboard_banking.xhtml"><i
										class="fa fa-fw fa-bank"></i><span>Banking</span></a>
									<div class="layout-menu-tooltip">
										<div class="layout-menu-tooltip-arrow"></div>
										<div class="layout-menu-tooltip-text">Banking</div>
									</div></li>
							</ul></li>
						<li id="menuform:om_components" role="menuitem">
						
						<ui:fragment rendered="true">
				<li id="menuform:sytemMenu" role="menuitem">
					<a href="#">
						<i class="fa fa-wrench fa-fw"></i>
						<span>System</span>
						<i class="fa fa-fw layout-submenu-toggler fa-angle-down"></i>
					</a>
					
					<ul role="menu">
						<li role="menuitem">
							<a href="#{request.contextPath}/pages/system/role.xhtml">
								<i class="fa fa-unlock-alt fa-fw"></i>
								<span>Assign Role</span>
							</a>
						</li>
			
					</ul>
					
						<ul role="menu">
						<li role="menuitem">
							<a href="#{request.contextPath}/pages/system/resource.xhtml">
								<i class="fa fa-unlock-alt fa-fw"></i>
								<span>Resource</span>
							</a>
						</li>
			
					</ul>
				</li>
			</ui:fragment>
						
						</li>
						<li id="menuform:om_default" role="menuitem"><a href="#"
							class="ripplelink"><i class="fa fa-fw fa-life-saver"></i><span>Template
									Pages</span><span class="ink animate"></span><i
								class="fa fa-fw fa-angle-down menuitem-toggle-icon"></i></a>
							<div class="layout-menu-tooltip">
								<div class="layout-menu-tooltip-arrow"></div>
								<div class="layout-menu-tooltip-text">Template Pages</div>
							</div>
							<ul role="menu">
								<li id="menuform:om_empty" role="menuitem"><a
									href="/avalon/empty.xhtml" target="_blank"><i
										class="fa fa-fw fa-square-o"></i><span>Empty Page</span></a>
									<div class="layout-menu-tooltip">
										<div class="layout-menu-tooltip-arrow"></div>
										<div class="layout-menu-tooltip-text">Empty Page</div>
									</div></li>
								<li id="menuform:om_invoice" role="menuitem"><a
									href="/avalon/invoice.xhtml"><i
										class="fa fa-fw fa-list-alt"></i><span>Invoice</span></a>
									<div class="layout-menu-tooltip">
										<div class="layout-menu-tooltip-arrow"></div>
										<div class="layout-menu-tooltip-text">Invoice</div>
									</div></li>
								<li id="menuform:om_help" role="menuitem"><a
									href="/avalon/help.xhtml"><i
										class="fa fa-fw fa-question-circle"></i><span>Help Page</span></a>
									<div class="layout-menu-tooltip">
										<div class="layout-menu-tooltip-arrow"></div>
										<div class="layout-menu-tooltip-text">Help Page</div>
									</div></li>
								<li id="menuform:om_db_wizard" role="menuitem"><a
									href="/avalon/wizard.xhtml" target="_blank"><i
										class="fa fa-fw fa-star"></i><span>Wizard</span></a>
									<div class="layout-menu-tooltip">
										<div class="layout-menu-tooltip-arrow"></div>
										<div class="layout-menu-tooltip-text">Wizard</div>
									</div></li>
								<li id="menuform:om_db_landing" role="menuitem"><a
									href="/avalon/landing.xhtml" target="_blank"><i
										class="fa fa-fw fa-certificate"></i><span>Landing</span></a>
									<div class="layout-menu-tooltip">
										<div class="layout-menu-tooltip-arrow"></div>
										<div class="layout-menu-tooltip-text">Landing</div>
									</div></li>
								<li id="menuform:om_login" role="menuitem"><a
									href="/avalon/login.xhtml" target="_blank"><i
										class="fa fa-fw fa-sign-in"></i><span>Login Page</span></a>
									<div class="layout-menu-tooltip">
										<div class="layout-menu-tooltip-arrow"></div>
										<div class="layout-menu-tooltip-text">Login Page</div>
									</div></li>
								<li id="menuform:om_error" role="menuitem"><a
									href="/avalon/error.xhtml" target="_blank"><i
										class="fa fa-fw fa-exclamation-circle"></i><span>Error
											Page</span></a>
									<div class="layout-menu-tooltip">
										<div class="layout-menu-tooltip-arrow"></div>
										<div class="layout-menu-tooltip-text">Error Page</div>
									</div></li>
								<li id="menuform:om_404" role="menuitem"><a
									href="/avalon/404.xhtml" target="_blank"><i
										class="fa fa-fw fa-times"></i><span>404 Page</span></a>
									<div class="layout-menu-tooltip">
										<div class="layout-menu-tooltip-arrow"></div>
										<div class="layout-menu-tooltip-text">404 Page</div>
									</div></li>
								<li id="menuform:om_access" role="menuitem"><a
									href="/avalon/access.xhtml" target="_blank"><i
										class="fa fa-fw fa-exclamation-triangle"></i><span>Access
											Denied</span></a>
									<div class="layout-menu-tooltip">
										<div class="layout-menu-tooltip-arrow"></div>
										<div class="layout-menu-tooltip-text">Access Denied</div>
									</div></li>
							</ul></li>
						<li id="menuform:om_hierarchy" role="menuitem"><a href="#"
							class="ripplelink"><i class="fa fa-fw fa-gg"></i><span>Menu
									Hierarchy</span><span class="ink animate"></span><i
								class="fa fa-fw fa-angle-down menuitem-toggle-icon"></i></a>
							<div class="layout-menu-tooltip">
								<div class="layout-menu-tooltip-arrow"></div>
								<div class="layout-menu-tooltip-text">Menu Hierarchy</div>
							</div>
							<ul role="menu">
								<li id="menuform:om_sm1" role="menuitem"><a href="#"
									class="ripplelink"><i class="fa fa-fw fa-sign-in"></i><span>Submenu
											1</span><span class="ink animate"></span><i
										class="fa fa-fw fa-angle-down menuitem-toggle-icon"></i></a>
									<div class="layout-menu-tooltip">
										<div class="layout-menu-tooltip-arrow"></div>
										<div class="layout-menu-tooltip-text">Submenu 1</div>
									</div>
									<ul role="menu">
										<li id="menuform:om_sm11" role="menuitem"><a href="#"
											class="ripplelink"><i class="fa fa-fw fa-sign-in"></i><span>Submenu
													1.1</span><span class="ink animate"></span><i
												class="fa fa-fw fa-angle-down menuitem-toggle-icon"></i></a>
											<div class="layout-menu-tooltip">
												<div class="layout-menu-tooltip-arrow"></div>
												<div class="layout-menu-tooltip-text">Submenu 1.1</div>
											</div>
											<ul role="menu">
												<li id="menuform:om_lnk111" role="menuitem"><a href="#"><i
														class="fa fa-fw fa-sign-in"></i><span>Link 1.1.1</span></a>
													<div class="layout-menu-tooltip">
														<div class="layout-menu-tooltip-arrow"></div>
														<div class="layout-menu-tooltip-text">Link 1.1.1</div>
													</div></li>
												<li id="menuform:om_lnk112" role="menuitem"><a href="#"><i
														class="fa fa-fw fa-sign-in"></i><span>Link 1.1.2</span></a>
													<div class="layout-menu-tooltip">
														<div class="layout-menu-tooltip-arrow"></div>
														<div class="layout-menu-tooltip-text">Link 1.1.2</div>
													</div></li>
												<li id="menuform:om_lnk113" role="menuitem"><a href="#"><i
														class="fa fa-fw fa-sign-in"></i><span>Link 1.1.3</span></a>
													<div class="layout-menu-tooltip">
														<div class="layout-menu-tooltip-arrow"></div>
														<div class="layout-menu-tooltip-text">Link 1.1.3</div>
													</div></li>
											</ul></li>
										<li id="menuform:om_sm12" role="menuitem"><a href="#"
											class="ripplelink"><i class="fa fa-fw fa-sign-in"></i><span>Submenu
													1.2</span><span class="ink animate"></span><i
												class="fa fa-fw fa-angle-down menuitem-toggle-icon"></i></a>
											<div class="layout-menu-tooltip">
												<div class="layout-menu-tooltip-arrow"></div>
												<div class="layout-menu-tooltip-text">Submenu 1.2</div>
											</div>
											<ul role="menu">
												<li id="menuform:om_lnk121" role="menuitem"><a href="#"><i
														class="fa fa-fw fa-sign-in"></i><span>Link 1.2.1</span></a>
													<div class="layout-menu-tooltip">
														<div class="layout-menu-tooltip-arrow"></div>
														<div class="layout-menu-tooltip-text">Link 1.2.1</div>
													</div></li>
											</ul></li>
									</ul></li>
								<li id="menuform:om_sm2" role="menuitem"><a href="#"
									class="ripplelink"><i class="fa fa-fw fa-sign-in"></i><span>Submenu
											2</span><span class="ink animate"></span><i
										class="fa fa-fw fa-angle-down menuitem-toggle-icon"></i></a>
									<div class="layout-menu-tooltip">
										<div class="layout-menu-tooltip-arrow"></div>
										<div class="layout-menu-tooltip-text">Submenu 2</div>
									</div>
									<ul role="menu">
										<li id="menuform:om_sm21" role="menuitem"><a href="#"
											class="ripplelink"><i class="fa fa-fw fa-sign-in"></i><span>Submenu
													2.1</span><span class="ink animate"></span><i
												class="fa fa-fw fa-angle-down menuitem-toggle-icon"></i></a>
											<div class="layout-menu-tooltip">
												<div class="layout-menu-tooltip-arrow"></div>
												<div class="layout-menu-tooltip-text">Submenu 2.1</div>
											</div>
											<ul role="menu">
												<li id="menuform:om_lnk211" role="menuitem"><a href="#"><i
														class="fa fa-fw fa-sign-in"></i><span>Link 2.1.1</span></a>
													<div class="layout-menu-tooltip">
														<div class="layout-menu-tooltip-arrow"></div>
														<div class="layout-menu-tooltip-text">Link 2.1.1</div>
													</div></li>
												<li id="menuform:om_lnk212" role="menuitem"><a href="#"><i
														class="fa fa-fw fa-sign-in"></i><span>Link 2.1.2</span></a>
													<div class="layout-menu-tooltip">
														<div class="layout-menu-tooltip-arrow"></div>
														<div class="layout-menu-tooltip-text">Link 2.1.2</div>
													</div></li>
											</ul></li>
										<li id="menuform:om_sm22" role="menuitem"><a href="#"
											class="ripplelink"><i class="fa fa-fw fa-sign-in"></i><span>Submenu
													2.2</span><span class="ink animate"></span><i
												class="fa fa-fw fa-angle-down menuitem-toggle-icon"></i></a>
											<div class="layout-menu-tooltip">
												<div class="layout-menu-tooltip-arrow"></div>
												<div class="layout-menu-tooltip-text">Submenu 2.2</div>
											</div>
											<ul role="menu">
												<li id="menuform:om_lnk221" role="menuitem"><a href="#"><i
														class="fa fa-fw fa-sign-in"></i><span>Link 2.2.1</span></a>
													<div class="layout-menu-tooltip">
														<div class="layout-menu-tooltip-arrow"></div>
														<div class="layout-menu-tooltip-text">Link 2.2.1</div>
													</div></li>
											</ul></li>
									</ul></li>
							</ul></li>
						<li id="menuform:om_doc" role="menuitem"><a
							href="/avalon/docs.xhtml"><i class="fa fa-fw fa-book"></i><span>Documentation</span></a>
							<div class="layout-menu-tooltip">
								<div class="layout-menu-tooltip-arrow"></div>
								<div class="layout-menu-tooltip-text">Documentation</div>
							</div></li>
					</ul>
					<script id="menuform:j_idt36_s" type="text/javascript">
						$(function() {
							PrimeFaces.cw("Avalon", "me", {
								id : "menuform:j_idt36"
							});
						});
					</script>
		<input type="hidden" name="javax.faces.ViewState"
			id="j_id1:javax.faces.ViewState:1"
			value="-6054759535377775193:3227943196475489945" autocomplete="off" />
	</form>

</ui:component>