<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component xmlns="http://www.w3.org/1999/xhtml"
	      xmlns:ui="http://java.sun.com/jsf/facelets"
	      xmlns:f="http://java.sun.com/jsf/core"
		  xmlns:h="http://java.sun.com/jsf/html"
	      xmlns:p="http://primefaces.org/ui"> 

		<div class="ui-tooltip ui-widget ui-tooltip-right dtToolTip"
					style="font-size: 100%; max-width: 350px; word-wrap: break-word; display: none;">
					<div class="ui-tooltip-arrow"></div>
					<div class="ui-tooltip-text ui-shadow ui-corner-all">&nbsp;</div>
    	</div>


		<p:ajaxStatus oncomplete="attachDtToolTip();" />
		
		<script type="text/javascript">
				
				function attachDtToolTip () {
					
					$('#{tableSelector} tbody td').on('mouseenter',function () {
					
						var contents = $(this).contents().filter(function (index) { return index ==1 }).text();
    					
    					if(contents)
    					{	
    						$('.dtToolTip .ui-tooltip-text').text(contents);
    						$('.dtToolTip').show();
    						$('.dtToolTip').position({	my:'left center', at:'center', of: $(this) });    				
    					}
    					else
    					{
    						$('.dtToolTip').hide();
    					}
    					
					})
						
					$('#{tableSelector} tbody').on('mouseleave',function () {
					
							$('.dtToolTip').hide();
					});
					
					};
					attachDtToolTip();
		</script>

</ui:component>