<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui">

<f:view contentType="text/html">

	<h:head>
		<meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />



		<style type="text/css">
		
		body{
			background-image: linear-gradient(235deg, #565867, #191a25);
			font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
			font-size: 14px;
		}
		

    
.exception-body {
	overflow: auto;
	text-align: left !important;
}

.exception-body .exception-panelx {
	width: 600px;
	position: relative !important;
	text-align: left !important;
	margin-top: 10px !important;
	left: 1% !important;
}

.ePanel .ui-widget-content {
	background-color: black;
}
.ePanel  .ui-panel-content{
	border:none !important;
}
	
</style>
	</h:head>



	<h:body styleClass="exception-body error" style="color:white;">
	
		<div style="text-align: left; margin-left:10px;margin-top:10px;">
			<img src="#{resource['primefaces-oms:images/thy.png']}" alt="" height="20px"
						style="margin-top: 2px; border: 0px;" /> <span style="font-size: 18px; text-shadow: 0px 0px 2px; color ='white'; vertical-align: bottom;">Teklif
							Yönetimi</span>
        </div>

		<div class="exception-panelx">
			<div>
				<h2 style="font-size: 40px; font-weight: 600;margin-top: 5px;">ERROR</h2>
				<span style="margin-left: 90px; position: relative; top: -35px;">OCCURED</span>
				<div>
					<span><strong>Operation is cancelled due to unexpected error.</strong></span>
					<p>Please try again the operation done with menu items</p>
				</div>
				<div>
					<button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
						onclick="window.open('#{request.contextPath}','_self')" role="button" aria-disabled="false">
						<span class="ui-button-text ui-c">Go To Home Page</span>
					</button>
				</div>
			</div>
		</div>

		<div style="margin: 20px;">

			<p:panel header="Cause of error" styleClass="ePanel">
				<h:outputText value="#{errorBean.cause}" />
			</p:panel>

			<p:panel header="Detail" styleClass="ePanel">
				<h:outputText value="#{errorBean.detail}" style="white-space: pre-wrap;" />
			</p:panel>

		</div>

	</h:body>

</f:view>
</html>