
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" template="crud.xhtml">

<f:view>

	<h:head id="templateHead">
		<f:facet name="first">
			<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10" />
		</f:facet>


		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="theme-color" />
		<link type="text/css" rel="stylesheet"
			href="/primefaces-netas2/theme.css?ln=primefaces-avalon-blue-v4" />
		<link type="text/css" rel="stylesheet"
			href="/primefaces-netas2/fa/font-awesome.css?ln=primefaces&amp;v=8.0" />
		<link type="text/css" rel="stylesheet"
			href="/primefaces-netas2/components.css?ln=primefaces&amp;v=8.0" />
		<script type="text/javascript"
			src="/primefaces-netas2/jquery/jquery.js?ln=primefaces&amp;v=8.0"></script>
		<script type="text/javascript"
			src="/primefaces-netas2/jquery/jquery-plugins.js?ln=primefaces&amp;v=8.0"></script>
		<script type="text/javascript" src="core.js?ln=primefaces&amp;v=8.0"></script>
		<script type="text/javascript"
			src="/primefaces-netas2/components.js?ln=primefaces&amp;v=8.0"></script>
		<script type="text/javascript"
			src="/primefaces-netas2/touch/touchswipe.js?ln=primefaces&amp;v=8.0"></script>
		<link type="text/css" rel="stylesheet"
			href="/primefaces-netas2/schedule/schedule.css?ln=primefaces&amp;v=8.0" />
		<script type="text/javascript"
			src="/primefaces-netas2/moment/moment.js?ln=primefaces&amp;v=8.0"></script>
		<script type="text/javascript"
			src="/primefaces-netas2/moment/moment-timezone-with-data.js?ln=primefaces&amp;v=8.0"></script>
		<script type="text/javascript"
			src="/primefaces-netas2/schedule/schedule.js?ln=primefaces&amp;v=8.0"></script>
		<link type="text/css" rel="stylesheet"
			href="/primefaces-netas2/css/nanoscroller.css?ln=avalon-layout" />
		<link type="text/css" rel="stylesheet"
			href="/primefaces-netas2/css/animate.css?ln=avalon-layout" />
		<link type="text/css" rel="stylesheet"
			href="/primefaces-netas2/css/layout-blue-v4.css?ln=avalon-layout" />
		<script type="text/javascript">
			if (window.PrimeFaces) {
				PrimeFaces.settings.locale = 'en_US';
			}
		</script>
		<title>Dashboard</title>
		<script type="text/javascript"
			src="/primefaces-netas2/js/nanoscroller.js?ln=avalon-layout"></script>
		<script type="text/javascript"
			src="/primefaces-netas2/js/layout.js?ln=avalon-layout"></script>


	</h:head>
	<h:body>

		<p:growl id="growl" showDetail="false" life="10000">
			<p:autoUpdate />
		</p:growl>

		<p:ajaxStatus onstart="$('.statusStartDiv').show(); "
			oncomplete="$('.statusStartDiv').hide(); "
			onerror="PF('cd').show();$('.statusStartDiv').hide();"
			onsuccess="$('.statusStartDiv').hide();">
		</p:ajaxStatus>


		<p:confirmDialog global="true">

			<p:commandButton value="#{messages['general.value.No']}"
				type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"
				style="float:right;margin-right:5px;" />
			<p:commandButton value="#{messages['general.value.Yes']}"
				type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"
				style="float:right;margin-right:5px;" />

		</p:confirmDialog>




		<div class="layout-wrapper menu-layout-static">
			<div class="topbar clearfix">
				<div class="topbar-left">
					<img id="j_idt12" style="width: 40px; height: 40px;"
						src="/primefaces-netas2/images/netaslogo.jpg" alt=""
						class="topbar-logo" />
				</div>

				<div class="topbar-right">
					<a id="menu-button" href="#"> <i class="fa fa-angle-left"></i>
					</a> <a id="topbar-menu-button" href="#"> <i class="fa fa-bars"></i>
					</a>
					<h:form id="topbar-items-form" name="topbar-items-form"
						method="post">
						<input type="hidden" name="topbar-items-form"
							value="topbar-items-form" />

						<ul class="topbar-items fadeInDown animated">
							<li><a href="#"> <i class="topbar-icon fa fa-fw fa-cog"></i>
									<span class="topbar-item-name">Settings</span>
							</a>
								<ul class="layout-menu animated">
									<li role="menuitem"><a href="#"> <i
											class="fa fa-fw fa-paint-brush"></i> <span>Change
												Theme</span>
									</a></li>

									<li role="menuitem"><a
										href="#{request.contextPath}/logout"> <i
											class="fa fa-fw fa-star-o"></i> <span>Log Out</span>
									</a></li>
									<li role="menuitem"><a href="#"> <i
											class="fa fa-fw fa-lock"></i> <span>Lock Screen</span>
									</a></li>
									<li role="menuitem"><a href="#"> <i
											class="fa fa-fw fa-picture-o"></i> <span>Wallpaper</span>
									</a></li>
								</ul></li>

							<li><a href="#"> <i
									class="topbar-icon fa fa-fw fa-bell-o"></i> <span
									class="topbar-badge animated rubberBand">4</span> <span
									class="topbar-item-name">Notifications</span>
							</a>
								<ul class="layout-menu animated">
									<li role="menuitem"><a href="#"> <i
											class="fa fa-fw fa-tasks"></i> <span>Pending tasks</span>
									</a></li>
									<li role="menuitem"><a href="#"> <i
											class="fa fa-fw fa-calendar-check-o"></i> <span>Meeting
												today at 3pm</span>
									</a></li>
									<li role="menuitem"><a href="#"> <i
											class="fa fa-fw fa-download"></i> <span>Download
												documents</span>
									</a></li>
									<li role="menuitem"><a href="#"> <i
											class="fa fa-fw fa-plane"></i> <span>Book flight</span>
									</a></li>
								</ul></li>
							<li class="search-item">
								<div class="topbar-search">
									<input type="text" placeholder="Search"
										onkeypress="if (event.keyCode == 13) {return false;}" /> <i
										class="fa fa-search"></i>
								</div>
							</li>
						</ul>
						<input type="hidden" name="javax.faces.ViewState"
							id="j_id1:javax.faces.ViewState:0"
							value="-6054759535377775193:3227943196475489945"
							autocomplete="off" />
					</h:form>
				</div>

			</div>

			<div class="layout-menu-container ">
				<div class="nano">
					<div class="nano-content menu-scroll-content">
						<ui:include src="contentMenu.xhtml"></ui:include>
					</div>
				</div>
			</div>


			<div class="layout-main">

				<div class="layout-topbar">

					<ul class="topbar-menu animated">

					</ul>

				</div>


				<div class="layout-content">

					<ui:insert name="content"></ui:insert>

				</div>

			</div>

		</div>

		<ui:include src="cleanViewState.xhtml" />
	</h:body>
</f:view>
</html>